<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >

<generatorConfiguration>
	<!-- 数据库驱动包位置 -->
	<classPathEntry
		location="E:\repository\mysql\mysql-connector-java\5.1.44\mysql-connector-java-5.1.44.jar" />
	<context id="context1">
		<property name="javaFileEncoding" value="UTF-8"/>
		<commentGenerator >
			<!-- 是否去除自动生成的注释 true：是 ： false:否 -->
			<property name="suppressAllComments" value="false" />
			 <!-- 是否生成注释代时间戳 -->
			<property name="suppressDate" value="true" />
		</commentGenerator> 
		<!-- jdbc_url=jdbc:mysql://rm-m5e7rlsqvgb5671m1ho.mysql.rds.aliyuncs.com:3306/grms?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull -->
		   
		<!-- 数据库链接URL、用户名、密码 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://rm-m5e7rlsqvgb5671m1ho.mysql.rds.aliyuncs.com:3306/grms" userId="wsrp"
			password="TT_mysql@" />
		<!-- 生成模型的包名和位置 -->
		<javaModelGenerator targetPackage="com.hori.grms.model"
			targetProject="grms/src/main/java" />
		<!-- 生成的映射文件报名和位置 -->
		<sqlMapGenerator targetPackage="com.hori.grms.mapping"
			targetProject="grms/src/main/resources" />
		<!-- 生成DAO的包名和位置 -->
		<javaClientGenerator targetPackage="com.hori.grms.dao"
			targetProject="grms/src/main/java" type="XMLMAPPER" />
		<!-- 要生成的那些表(更改tableName 和domainObjectName 就可以了) -->		
        <!-- <table schema="grms" tableName="project" domainObjectName="Project"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
         <table schema="grms" tableName="product_menu" domainObjectName="ProductMenu"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
         <table schema="grms" tableName="project_action" domainObjectName="ProjectAction"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
        <table schema="grms" tableName="project_approve_log" domainObjectName="ProjectApproveLog"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
         <table schema="grms" tableName="project_people" domainObjectName="ProjectPeople"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
         <table schema="grms" tableName="project_product" domainObjectName="ProjectProduct"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
         <table schema="grms" tableName="project_product_menu" domainObjectName="ProjectProductMenu"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
		 <table schema="grms" tableName="project_product_menu_area" domainObjectName="ProjectProductMenuArea"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
         <table schema="grms" tableName="project_role" domainObjectName="ProjectRole"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table>
        <table schema="grms" tableName="customer" domainObjectName="Customer"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table> -->
         <table schema="grms" tableName="field_exchange_log" domainObjectName="FieldExchangeLog"
            enableCountByExample="true" enableUpdateByExample="true"
            enableDeleteByExample="true" enableSelectByExample="true"
            selectByExampleQueryId="true">
        </table> 
		
	</context>
</generatorConfiguration>  