<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>幸福集市 限时特惠</title>
		<link rel="stylesheet" href="../common/reset.css" />
		<link rel="stylesheet" href="css/couponCommodities.css">
		<link rel="stylesheet" href="../common/tip/lxjTip.css">
		<script src="../common/interface.js"></script>
		<script src="../common/interfaceParameters.js"></script>
		<script src="../common/tip/lxjTip.js"></script>
		<script src="../common/vue/vue.min.js"></script>
		<script src="../common/vue/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/vue/vue-resource.min.js"></script>
		<script type="text/javascript">
			var u = navigator.userAgent;
			var clientType = GetURLParameter('clientType');
			if(!clientType) {
				if(!!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)) {
					clientType = "ios";
				} else {
					clientType = "android";
				}
			}
			var comefromType = GetURLParameter("from") ? GetURLParameter("from") : '';
			var baiduButtonId = 3076;
			var baiduId = 3076;
			if(comefromType == "kaimen") {
				baiduId = baiduId + 1;
			} else if(comefromType == "shengh") {
				baiduId = baiduId + 2;
			} else if(comefromType == "zixun") {
				baiduId = baiduId + 3;
			} else if(comefromType == "tanc") {
				baiduId = baiduId + 4;
			} else if(comefromType == "fuc") {
				baiduId = baiduId + 5;
			} else if(comefromType == "sc") {
				baiduId = baiduId + 6;
			} else if(comefromType == "push") {
				baiduId = baiduId + 7;
			} else if(comefromType == "feed") {
				baiduId = baiduId + 8;
			} else if(comefromType == "shenghz") {
				baiduId = baiduId + 9;
			} else if(comefromType == "huod") {
				baiduId = baiduId + 10;
			} else {
				baiduId = baiduId;
			}
			var _hmt = _hmt || [];
			_hmt.push(['_setAutoPageview', false]);
			_hmt.push(['_trackPageview', '/client=' + clientType + '-幸福集市26-活动ID=' + baiduId]);
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?245cd6becb25900dbb7f9f62761431d7";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script type="text/javascript">
			(function(doc, win) {
				var docEl = doc.documentElement,
					isIOS = navigator.userAgent.match(/iphone|ipod|ipad/gi),
					dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
					dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
					scale = 1 / dpr,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
				docEl.dataset.dpr = dpr;
				var recalc = function() {
					var width = docEl.clientWidth;
					if(width / dpr > 768) {
						width = 768 * dpr;
					}
					docEl.style.fontSize = 100 * (width / 414) + 'px';
				};
				recalc();
				if(!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
			})(document, window);
		</script>
		<style type="text/css">
			.bannerNone {
				height: 1px;
			}
			
			input[disabled],
			input:disabled,
			input.disabled {
				color: #333;
				-webkit-text-fill-color: #333;
				-webkit-opacity: 1;
				opacity: 1;
				background-color: #fff;
			}
		</style>
	</head>

	<body>
		<div class="marketing" id="marketing" v-cloak>
			<div class="bgBox" style="width: 100%;display: block;position: relative;">
				<img src="images/bazaar/032701.jpg?s=1" />
				<img src="images/bazaar/032702.jpg?s=1" />
				<img src="images/bazaar/032703.jpg" />

				<div style="width: 94%;height: 6.2%;top: 24.5%;left: 3%;" v-on:click="goDetail('155245629300bc303129b65d42e7b227','雨鞋套','3')">
					<div style="width: 11%;height: 24%;top: 61.5%;left: 78%;" v-on:click="selectSku('155245629300bc303129b65d42e7b227','雨鞋套','4')">
					</div>
				</div>
				
				<div style="width: 94%;height: 6.2%;top: 30.5%;left: 3%;" v-on:click="goDetail('154337054442d440e65034904141b19f','喷雾','5')">
					<div style="width: 11%;height: 24%;top: 64.5%;left: 37%;" v-on:click="selectSku('154337054442d440e65034904141b19f','喷雾','6')">
					</div>
				</div>
				
				<div style="width: 94%;height: 6.2%;top: 40.5%;left: 3%;" v-on:click="goDetail('155356970641680fd9b9cebe4ec7a789','除螨贴','7')">
					<div style="width: 11%;height: 24%;top: 61.5%;left: 78%;" v-on:click="selectSku('155356970641680fd9b9cebe4ec7a789','除螨贴','8')">
					</div>
				</div>

				<div style="width: 46%;height: 11%;top: 48%;left: 3%;" v-on:click="goDetail('155356926884c51c7c8a46b941b8b34f','衣架','9')">
					<div style="width: 19%;height: 13.5%;top: 78.5%;left: 75%;" v-on:click="selectSku('155356926884c51c7c8a46b941b8b34f','衣架','10')">
					</div>
				</div>
				<div style="width: 46%;height: 11%;top: 48%;left: 51%;" v-on:click="goDetail('155356904345c3729dc7b61745e68cd1','干发帽','11')">
					<div style="width: 19%;height: 13.5%;top: 78.5%;left: 75%;" v-on:click="selectSku('155356904345c3729dc7b61745e68cd1','干发帽','12')">
					</div>
				</div>
				
				<div style="width: 94%;height: 6.2%;top: 63.3%;left: 3%;" v-on:click="goDetail('155304949100205bbada4f3b4ea7ade1','玉米','13')">
					<div style="width: 11%;height: 24%;top: 61.5%;left: 78%;" v-on:click="selectSku('155304949100205bbada4f3b4ea7ade1','玉米','14')">
					</div>
				</div>
				<div style="width: 94%;height: 6.2%;top: 69.5%;left: 3%;" v-on:click="goDetail('155357187182e9197631c0334aeba264','水菠萝','15')">
					<div style="width: 11%;height: 24%;top: 64.5%;left: 37%;" v-on:click="selectSku('155357187182e9197631c0334aeba264','水菠萝','16')">
					</div>
				</div>
				<div style="width: 94%;height: 6.2%;top: 75.8%;left: 3%;" v-on:click="goDetail('15535716102758fda757a9a340b2b792','番茄','17')">
					<div style="width: 11%;height: 24%;top: 61.5%;left: 78%;" v-on:click="selectSku('15535716102758fda757a9a340b2b792','番茄','18')">
					</div>
				</div>
				
				<div style="width: 94%;height: 6.2%;top: 85.5%;left: 3%;" v-on:click="goDetail('1553571326533a2a830de2684faa859b','天宝','19')">
					<div style="width: 11%;height: 24%;top: 61.5%;left: 78%;" v-on:click="selectSku('1553571326533a2a830de2684faa859b','天宝','20')">
					</div>
				</div>
				<div style="width: 94%;height: 6.2%;top: 91.8%;left: 3%;" v-on:click="goDetail('1553571746977957e1f1b0614fc49245','黑小米','21')">
					<div style="width: 11%;height: 24%;top: 64.5%;left: 37%;" v-on:click="selectSku('1553571746977957e1f1b0614fc49245','黑小米','22')">
					</div>
				</div>
			

				<!--<div style="width: 28%;height: 1.2%;top: 12%;left: 66%;" v-on:click="getCoupon('154468541130ee691d2c0e074f13996e')">
				</div>
				<div style="width: 50%;height: 1%;top: 13.4%;left: 25%;" onclick="goCouponModel()">
				</div>-->

				<!--<div style="width: 46%;height: 9.4%;top: 83%;left: 51%;" v-on:click="goDetail('','','27')">
					<div style="width: 19%;height: 13.5%;top: 83.5%;left: 77%;" v-on:click="selectSku('','','28')">
					</div>
				</div>-->

			</div>

			<!--<div id="" style="width: 100%;height: 50px;background-color: #000000;" v-on:click="selectSku('1524210032128516841dd939466188b2')">

			</div>-->
			<div class="shoppingcartLogo" v-on:click="goShoppingcart()">
				<img src="images/btn_ic_shopping@3x.png" alt="购物车" />
				<span class="shoppingnum" id="shoppingnum" v-show="shoppingcartCount>0">{{shoppingcartCount}}</span>
			</div>

			<div class="bgTangcan" v-show="skuShowstate>0">
				<div class="bugInfo_box" v-show="bugInfoAminateS">
					<div class="bugInfo" id="bugInfoAminate" v-if="productInfoData!=null">
						<div class="closeLogo" v-on:click="closeSelecSku()">
							<img src="images/btn_ic_close@3x.png" />
						</div>
						<div class="bugprizeInfo" v-show="!inputFocusState">
							¥<span v-if="selectPrice!=null&&giftbagId==''"><span v-text="String(parseFloat(selectPrice).toFixed(2)).split('.')[0]">0</span>.<span class="minproductPrice" v-text="String(parseFloat(selectPrice).toFixed(2)).split('.')[1]">00</span></span><span v-if="selectPrice==null&&giftbagId==''"><span v-text="String(parseFloat(productInfoData.product[0].minPrice).toFixed(2)).split('.')[0]">0</span>.<span class="minproductPrice" v-text="String(parseFloat(productInfoData.product[0].minPrice).toFixed(2)).split('.')[1]">00</span></span><span v-if="Number(productInfoData.product[0].minPrice)<Number(productInfoData.product[0].maxPrice)&&selectPrice==null"> ~ ¥<span><span v-text="String(parseFloat(productInfoData.product[0].maxPrice).toFixed(2)).split('.')[0]"></span>.<span class="minproductPrice" v-text="String(parseFloat(productInfoData.product[0].maxPrice).toFixed(2)).split('.')[1]">00</span></span>
							</span>
							<span v-if="giftbagId!=''"><span v-text="String(parseFloat(productInfoData.giftBagPrice).toFixed(2)).split('.')[0]">0</span>.<span class="minproductPrice" v-text="String(parseFloat(productInfoData.giftBagPrice).toFixed(2)).split('.')[1]">00</span>
							</span>
						</div>
						<div class="hadChaooseSkuInfo" v-show="inputFocusState" v-text="skuSelectTip">
						</div>
						<div class="line_01box" v-show="!inputFocusState">
							<div class="line_01">
							</div>
						</div>
						<div class="commoditySku_box" v-show="!inputFocusState">
							<div class="commoditySkuItems" v-if="commoditySku.length>0" v-for="(items,index3) in commoditySku">
								<div class="skuName" v-text="items.skuName">
								</div>
								<div class="skuParamName">
									<span class="paramNameN" v-bind:class="{paramNameY:skuSelectList[index3]==item.paramId,paramNameF:skuisSelect[index3][index4]}" v-on:click="selectTagFun(index3,index4,item,items,skuisSelect[index3][index4])" v-for="(item,index4) in items.skuValues" v-text="item.paramName">
								</span>
									<!--<span class="paramNameF">
									立即购买立
								</span>
								<span class="paramNameN">
									立即购买立
								</span>-->
								</div>
							</div>
						</div>
						<div class="line_01box">
							<div class="line_01">
							</div>
						</div>
						<div class="bugNumber_box">
							<div class="bugNumberText">
								数量
							</div>
							<div class="reducebt" v-bind:class="{reducefall:bugNumber<=1}" v-on:click="reducebugNumber()">
							</div>
							<input type="tel" disabled="disabled" v-model="bugNumber" v-on:blur="blurInput()" v-on:focus="focusInput()" name="bugNumber" id="bugNumber" value="1" />
							<div class="addbt" v-bind:class="{addbfall:bugNumber>=maxstockQuantity}" v-on:click="addbugNumber()">
							</div>
						</div>
						<div class="bugAffirm" v-on:click="goConfirmOrder()">
							<span>
							确定
						</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/bazaar.js"></script>
		<script type="text/javascript">
			var HeightC = document.body.scrollHeight;
			window.onload = function() {
				setTitle("幸福集市 限时特惠");
				setTimeout(function() {
					HeightC = document.body.scrollHeight;

				}, 300);
			}

			function goCouponModel() {
				window.scrollTo(0, HeightC * 0.735)
			}
		</script>
	</body>

</html>