*{
	margin: 0;
	padding: 0;
	font-size: 0.14rem;
	-webkit-tap-highlight-color:rgba(0,0,0,0) 
}
body{
	background-color: #f3f4f5;
}
a{
	text-decoration: none;
	color: #555;
}
[v-cloak]{
	display: none;
}
.phone-nav{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	background-color: #fff;
	height: 0.49rem;
}
.phone-nav div{
	width: 33.33%;
	text-align: center;
}
.phone-nav div span{
	display: inline-block;
	line-height: 0.48rem;
	color: #aaa;
}
.phone-nav div.active span{
	border-bottom: 3px solid #fc9153;
	color: #333;
}
.phone-page-nav{
	overflow: hidden;
	margin-top: 0.12rem;
}
.phone-page-line{
	display: block;
	border-bottom: 1px solid #eee;
	width: 3.86rem;
	margin: 0.17rem auto 0;
}
.phone-page-item{
	padding: 0.17rem 0.12rem 0;
	background-color: #fff;
}
.phone-page-nav .phone-page-item:last-child .phone-page-line{
	border-bottom: 1px solid #fff;
}
.phone-page-item:last-child{
	border-bottom: none;
}
.phone-page-name{
	font-size: 0.15rem;
	color: #333;
}
.phone-page-phone{
	float: right;
}
.phone-page-phone span{
	font-size: 0.15rem;
	color: #555;
}
.phone-page-phone img{
	width: 0.07rem;
	height: 0.13rem;
	margin-left: 0.08rem;
}
.phone-empty{
	width: 100%;
}
.phone-empty img{
	display: block;
	margin: 0.92rem auto 0;
	width: 1.80rem;
	height: 1.80rem;
}
.phone-empty span{
	display: block;
	width: 100%;
	text-align: center;
	color: #ccc;
	font-size: 0.17rem;
	margin-top: 0.10rem;
}