html,body {
    background-color: #f8f8f8;
}
/*路径导航样式*/
.topTitle {
    height: 50px;
    background-color: #f8f8f8;
}
.path1{
    padding-left: 28px;
    min-width: 60px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color:#666;
}
.path1 {
    margin-left: 24px;
    background: url("../../common/images/ic_location.png") no-repeat left 15px;
}

/*条件选择、操作、搜索区域样式*/
.conditions-select {
    margin:0 25px 20px 24px;
    padding-left: 25px;
    min-height: 75px;
    background-color:#ffffff;
    border: 1px solid #d7d7d7;
    box-shadow: 0 2px 2px #eee;
}
.time,.search {
    margin-top: 18px;
    width: 48px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color:#666;
}

.search{
    margin-top: 20px;
    width: 88px;
    height:32px;
    line-height: 32px;
    font-size: 14px;
    color:#97e4d3;
    text-align: center;
    border: 1px solid #97e4d3;
    background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}

.search {
    margin-left: 12px;
}
.time-star {
    margin-top: 18px;
    margin-left: 8px;
}
.combo {
    width: 120px !important;
    height: 32px;
    line-height: 34px;
}
.textbox .textbox-text{
    height: 33px !important;
    line-height: 32px !important;
}

.time-alarm {
    margin-left: 24px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.title1 {
    padding-left: 24px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #ffffff;
    background-color: #4d525a;
}
.alarm-body {
    padding: 10px 6px 20px 6px;
    min-height: 440px;
    background: #fff;
    border: 1px solid #d7d7d7;
    box-shadow: 0 2px 2px #eee;
}

.time-alarm .combo {
    width: 80px !important;
    height: 32px;
    line-height: 34px;
}
.time-alarm .textbox .textbox-text{
    width: 60px !important;
    text-align: center;

}

.box-wrap {
    max-width: 1600px;
}
.box1 {
    margin-top: 20px;
    margin-left: 20px;
    width: 269px;
    height:118px;
    border:1px solid #cccccc;
    border-left:10px solid #51d2b6
}
.info {
    margin-left: 30px;
    text-align: left;
}
.info-number {
    margin-top: 25px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    color: #51d2b6;
}
.info-text {
    margin-top: 25px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #666666;
}
.img1 {
    margin-top: 28px;
    margin-right: 20px;
}
