body{
	min-width: 1100px;
	box-sizing: border-box;
}
/*返回编辑*/
.header {
    position: relative;
    margin-left: 24px;
    height: 54px;
    border-bottom: 1px solid #eeeeee;
}
.goback {
    position: absolute;
    left: 0;
    top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fc883b;
    background: url(../../common/images/ic_back.png) left center no-repeat;
    text-align: left;
    cursor: pointer;
}
.header-edit {
    position: absolute;
    left: 76px;
    top: 17px;
    padding-left: 20px;
    /*width: 56px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    font-size: 16px;
    color: #222222;
    text-align: left;
    border-left: 1px solid #CCCCCC;
}
/* 表格 */
.content1 {
    height: 264px;
}
.box1 {
    margin: 30px 30px 0 30px;
    border-left: 1px solid #cecece;
    border-top: 1px solid #cecece;
    width: 1108px;
}
.vertical-1,.vertical-3 {
    width: 154px;
}
.vertical-2,.vertical-4 {
    width: 400px;
}
.vertical-1>div,.vertical-3>div {
    width:153px;
    height: 47px;
    line-height: 47px;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 14px;
    color: #222222;
}
.vertical-2>div,.vertical-4>div {
    padding-left: 14px;
    width:385px;
    height: 47px;
    line-height: 47px;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    text-align: left;
    font-size: 14px;
    color: #6a6a6a;
}
.vertical-2>div>input,.vertical-4>div>input {
    width:376px;
    height: 47px;
    line-height: 47px;
    border:none;
    text-align: left;
    font-size: 14px;
    color: #6a6a6a;
}
.vertical-2 .input1,.vertical-4 .input1 {
    margin-top: 7px;
    width:370px;
    height: 30px;
    line-height: 30px;
    border:1px solid #c2c2c2;
    text-align: left;
    font-size: 14px;
    color: #6a6a6a;
}
.cl2-5 {
     width: 379px;
}
.cl2-5>input {
    width: 379px;
}
#cc1 {
    width: 68px;
    height: 28px;
    border: 1px solid #6a6a6a;
    border-radius: 4px;
}
.cl2-5 .combo{
    margin-top:8px;
    padding-left: 4px;
    width: 68px;
    height: 28px;
}

/*textarea编辑输入内容*/
.content2 {

}
.box2 {
    margin:30px 30px 0 30px ;
    width: 1108px;
    height: 332px;
 }
/*textarea公共*/
.cl1 {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #222222;
    text-align: left;
}
.cl2 {
    width: 300px;
    height: 120px;

}
.textarea {
    padding: 5px;
    width: 288px;
    height:108px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    resize: none;
    color: #6a6a6a;
    overflow: auto;
}

/*几个之间布局间隔*/
.mall,.hospital,.school,.banck {
    width: 300px;
}
.hospital,.school {
    margin-left: 100px;
}
.banck {
    margin-top: 30px;
}
/*保存*/
.comfirm{
    margin-top: 38px;
    margin-left: 30px;
    width: 1104px;
    height: 40px;
}
.comfirm-value {
    width: 138px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #FC883B;
    border-radius: 4px;
    border: 1px solid #FC883B;
    text-align: center;
    cursor: pointer;
}



















