.chairmanInfo{
	width: 100%;
	box-sizing: border-box;
	padding: 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	background-color: #fff;
}

.chairmanInfo img{
	width: 0.18rem;
	height: 0.18rem;
	padding-right: 0.14rem;
	display: block;
	-webkit-flex-shrink: 0;
}
.chairmanAddressBox{
	-webkit-flex-grow: 2;
}
.chairmanName,.chairmanName span{
	line-height: 0.27rem;
	font-size: 0.15rem;
	color: #333;
}
.chairmanName span:nth-child(2){
	padding-right: 0.2rem;
}

.chairmanAddress{
	line-height: 0.27rem;
	font-size: 0.15rem;
	color: #333;
	overflow: hidden;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.grouponName{
	width: 100%;
	box-sizing: border-box;
	line-height: 0.34rem;
	padding: 0 0.14rem;
	margin-top: 0.04rem;
	color: #999;
	font-size: 0.14rem;
}


.orderCommodities{
	width: 100%;
	
}

.commoditiesItem{
	width: 100%;
	margin-bottom: 0.12rem;
	background-color:#fff;
}
.sellerName{
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
}
.sellerName img{
	width: 0.18rem;
	height: 0.18rem;
	padding-right: 0.14rem;
	display: block;
	-webkit-flex-shrink: 0;
}
.sellerName span{
	font-size: 0.15rem;
	color: #333;
	-webkit-flex-grow: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 0.44rem;
}
.sellerName span:nth-child(3){
	font-size: 0.15rem;
	color: #333;
	-webkit-flex-grow: 0;
	-webkit-flex-shrink: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 0.44rem;
}


.commoditiesList{
	width: 100%;
}
.commodity{
	width: 100%;
	box-sizing: border-box;
	padding: 0.15rem 0.14rem;
	margin-top: 0.06rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	background-color:#F3F4F5;
}
.commoditiesList .commodity:nth-child(1){
	width: 100%;
	margin-top:0;
}
.commodityImg{
	width: 0.8rem;
	height: 0.8rem;
	padding-right: 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	overflow: hidden;
	-webkit-flex-shrink: 0;
}
.commodityImg img{
	width: 100%;
	height: auto;
}
.commodityInfo{
	-webkit-flex-grow: 2;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-between;
	min-height: 0.8rem;
}
.commodityName{
	margin-top: -0.02rem;
	font-size: 0.16rem;
	line-height: 0.2rem;
	color: #333;
}
.commodityPrice{
	width: 100%;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: flex-end;
	margin-bottom: -0.02rem;
}
.commodityPriceBox span:nth-child(1){
	font-size: 0.18rem;
	color: #333;
	line-height: 1;
}
.commodityPriceBox span:nth-child(2){
	font-size: 0.13rem;
	color: #333;
	line-height: 1;
}

.commodityNum{
	font-size: 0.14rem;
	color: #aaa;
	line-height: 1;
}

.remarkBox{
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: flex-start;
}
.remarkBox span {
	font-size: 0.15rem;
	line-height: 0.21rem;
	padding-top: 0.15rem;
	color: #333;
}
.remarkBox textarea {
	flex-grow: 2;
	-webkit-flex-grow: 2;
	margin: 0.15rem 0 0.14rem;
	font-size: 0.15rem;
	line-height: 0.2rem;
	height: 0.6rem;
	color: #333;
	outline: none;
	resize: none;
	border: none;
}

.remarkBox textarea::-webkit-input-placeholder {
	color: #CCCCCC;
}
.commoditiesItemPrice{
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	height: 0.46rem;
	-webkit-justify-content: flex-end;
}
.commoditiesItemPriceBox{
	display: -webkit-flex;
	-webkit-align-items: flex-end;
}
.commoditiesItemPrice span{
	line-height: 1;
}
.commoditiesItemPrice span:nth-child(1){
	font-size: 0.14rem;
	color: #333;
}
.commoditiesItemPrice span:nth-child(2){
	font-size: 0.16rem;
	color: #333;
	margin-bottom: -0.01rem;
}
.commoditiesItemPrice span:nth-child(3){
	font-size: 0.13rem;
	color: #333;
}
.orderInfo{
	width: 100%;
	box-sizing: border-box;
	padding: 0.08rem .14rem;
	font-size: .14rem;
	color: #888;
}
.orderNum,.orderTime,.orderRemarkBox span,.orderRemarkBox pre{
	font-size: .14rem;
	color: #888;
	line-height:0.26rem;
}
.orderRemarkBox{
	display: -webkit-flex;
}
.orderRemarkBox span{
	-webkit-flex-grow: 0;
	-webkit-flex-shrink: 0;
}
.orderRemarkBox pre{
	display: -webkit-flex;
	-webkit-flex-grow: 2;
}
.orderRemarkBox pre{
	font-size: 0.14rem;
	line-height:0.26rem;
	word-break: break-all;
	white-space: pre-wrap;
    word-wrap: break-word;
}
.footerBox{
	width: 100%;
	box-sizing: border-box;
	padding: 0.08rem 0.14rem 0.1rem;
	
}
.footerBox div{
	font-size: 0.14rem;
	color: #888;
}
.footerBox *{
	line-height: 0.24rem;
}
.footerBox div a{
	font-size: 0.14rem;
	color: #FC9153;
	text-decoration: underline;
	padding-left: 0.1rem;
}
.taobaoC{
	color:#fc9153!important;
}

.huiseC{
	color:#ccc!important;
}
