body {
	margin: 0px;
	padding: 0px;
	/*font-family: "Microsoft YaHei", "微软雅黑";*/
	font-size: .16rem;
	word-break:break-all;
}

.display-block {
	display: block;
}

#thelist {
	background: #fff;
}

ul li {
	overflow: hidden;
	background: #fff;
	padding: .05rem .1rem .05rem .1rem;
	border-bottom: 1px solid #e8e8e8;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

img {
	border: none;
}

li .picture {
	width: 30%;
	float: left;
	height: .9rem;
}

.picture img {
	width: 100%;
	vertical-align: middle;
	height: 100%;
}

ul li .info {
	width: 70%;
	height: .9rem;
	float: left;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: .1rem;
	padding-right: 0;
}

ul li .price {
	font-size: 0.14rem;
	color: #ff661b;
	/*font-weight: 500;*/
	position: absolute;
	bottom: 0;
}
.add-maintainlist{
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
.info .title {
	font-size: 0.14rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.info .introduce {
	/*text-align: Justify;
	text-justify: inter-ideograp;*/
	font-size: 0.12rem;
	line-height: .16rem;
	padding-top: 0.05rem;
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/*ul li {*/
	/*background-image: url(../img/ic_more-@3x.png);*/
	/*background-repeat: no-repeat;*/
	/*background-position: 98% center;*/
	/*background-size: 5%;*/
/*}*/

.wrapper-second {
	position: absolute;
	z-index: 1;
	top: .0;
	bottom: 0px;
	left: -9999px;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.wrapper-first {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0px;
	left: -9999px;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding: 0;
}

#myFrame {
	position: absolute;
	top: 0;
	left: 0;
}


/**
 *
 * Pull down styles
 *
 */


/*
#pullDown {
	background: #fff;
	text-align: center;
	height: 0px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}*/

#pullUp {
	background: #fff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}


/*#pullDown .pullDownIcon,*/

#pullUp .pullUpIcon {
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background: url(../img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 40px 80px;
	background-size: 40px 80px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
}


/*#pullDown .pullDownIcon {
				-webkit-transform: rotate(0deg) translateZ(0);
			}*/

#pullUp .pullUpIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}


/*#pullDown.flip .pullDownIcon {
				-webkit-transform: rotate(-180deg) translateZ(0);
			}*/

#pullUp.flip .pullUpIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
}


/*#pullDown.loading .pullDownIcon,*/

#pullUp.loading .pullUpIcon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}


/*福分标签*/
.fufen{
	display: inline-block;
	background-color: #ff661b;
	color: #FFFFFF;
	padding: 0.02rem .05rem;
	border-radius: .04rem;
	margin-left: .2rem;
	font-size: .12rem;

}