.memberInfo{
	width: 100%;
	box-sizing: border-box;
	padding:0.18rem 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	background-color:#fff;
}
.memberImgBox{
	width: 0.64rem;
	height: 0.64rem;
	border-radius:0.64rem;
	background-color: #DDDDDD;
	-webkit-flex-shrink: 0;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	
}
.memberImg{
	width: 0.56rem;
	height: 0.56rem;
	border: 0.02rem solid #fff;
	overflow: hidden;
	display: -webkit-flex;
	-webkit-align-items: center;
	border-radius:0.56rem;
}
.memberImg img{
	width: 100%;
	height: auto;
	display: block;
}
.memberImg>div{
	width:100%;
	height: 100%;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.memberInfoBox{
	-webkit-flex-grow: 2;
	padding-left: 0.14rem;
}
.memberName{
	font-size: 0.22rem;
	color: #333;
	line-height: 1;
	display: -webkit-flex;
	-webkit-align-items: center;
}
.memberName>span{
	font-size: 0.22rem;
	color: #333;
	line-height: 1;
	-webkit-flex-shrink: 0;
	-webkit-flex-flow: 0;
}
.chairmanLogo{
	-webkit-flex-grow: 0;
	width: 0.9rem;
	margin-left: 0.14rem;
	height: 0.24rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	background-color: #FC9153;
	border-radius: 0.24rem;
	color: #fff;
}
.chairmanLogo img{
	width: 0.14rem;
	height: 0.14rem;
	display: block;
	-webkit-flex-shrink: 0;
	padding-right: 0.06rem;
}
.chairmanLogo span{
	color: #fff;
	font-size: 0.13rem;
}
.memberJoinTime{
	margin-top: 0.13rem;
	font-size: 0.14rem;
	color: #888;
	line-height: 1;
}

.mainBox{
	margin-top: 0.12rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.14rem;
	background-color: #fff;
}
.moneyBox{
	width: 100%;
	display: -webkit-flex;
}
.mainBox .moneyBox:nth-child(1){
	border-bottom: 1px solid #eee;
}
.moneyBox1{
	width: 50%;
	height: 0.8rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
}
.moneyBox .moneyBox1:nth-child(1){
	border-right: 1px solid #eee;;
}
.moneyBox1 .money{
	line-height: 1;
	font-size: 0.18rem;
	color: #333;
	word-break: break-all;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.moneyBox1 .moneyInfo{
	line-height: 1;
	font-size: 0.14rem;
	margin-top: 0.13rem;
	color: #888;
	text-align: center;
}
.moneyBox2{
	-webkit-flex-direction: row;
}
.moneyBox3{
	padding-right: 0.15rem;
	max-width: 50%;
}
.moneyBox3 .money{
	
}
.submitButton{
	width: 0.7rem;
	border: 1px solid #FC9153;
	line-height: 0.2rem;
	color: #FC9153;
	font-size: 0.13rem;
	text-align: center;
	border-radius:0.2rem;
	-webkit-flex-shrink: 0;
}

.moreDetail{
	width: 100%;
	margin-top: 0.12rem;
	box-sizing: border-box;
	padding: 0 0.14rem;
	background-color: #fff;
}
.moreItem{
	width: 100%;
	display: -webkit-flex;
	-webkit-align-items: center;
	
	
}
.moreItem img:nth-child(1){
	width: 0.2rem;
	height: 0.2rem;
	display: block;
	padding-right: 0.12rem;
	-webkit-flex-shrink: 0;
}
.moreItem img:nth-child(3){
	width: 0.16rem;
	height: 0.16rem;
	display: block;
	-webkit-flex-shrink: 0;	
}
.moreItem span{
	-webkit-flex-grow: 2;
	text-align: left;
	font-size: 0.15rem;
	color: #333;
	line-height: 0.54rem;
}

.grouponActivity-nav{
	display: flex;
	display: -webkit-flex;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	background: #fff;
	border-top: 1px solid #eee;
	padding: 0.07rem 0;
	box-sizing: border-box;
}
.grouponActivity-nav-item{
	width: 33.3333%;
}
.grouponActivity-nav-item img{
	width: 0.24rem;
	height: 0.24rem;
	display: block;;
	margin: 0 auto;
}
.grouponActivity-nav-item div{
	text-align: center;
	color: #999;
	font-size: 0.11rem;
}
.grouponActivity-nav-item div.grouponActivity-nav-active{
	color: #fc9153;
}