.searchByPhone {
	display: flex;
	display: -webkit-flex;
	padding: 0 0.14rem;
	margin-top: 0.14rem;
	margin-bottom: 0.14rem;
}

.searchByPhone form {
	flex-grow: 2;
	-webkit-flex-grow: 2;
	border: none;
	outline: none;
	font-size: 0.16rem;
}
.searchByPhone input{
	width: 100%;
	height: 100%;
	background-image: url(../img/ic_recerch@3x.png);
	background-repeat: no-repeat;
	background-position: 0.14rem center;
	background-size: 0.14rem;
	line-height: 0.21rem;
    padding: 0.09rem 0 0.09rem 0.36rem;
}
/*input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}*/

.searchByPhone span {
	display: inline-block;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	width: 0.7rem;
	line-height: 0.39rem;
	margin-left: 0.14rem;
	background: #fc9153;
	color: #fff;
	font-size: 0.17rem;
	text-align: center;
	border-radius: 0.05rem;
}
.searchByPhoneNoEmpty{
	background-image: url(../img/ic_recerch@3x.png);
	background-repeat: no-repeat;
	background-position: 0.14rem center;
	background-size: 0.14rem;
}

.searchByPhoneEmpty {
	background-image: url(../img/ic_recerch@3x.png), url(../img/btn_cancle@3x.png);
	background-position: 0.14rem center, 96% center;
	background-size: 0.14rem, 0.12rem;
	background-repeat: no-repeat, no-repeat;	
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    position: relative;
    height: .15rem;
    width: .3rem;    
    background-image: url(../img/btn_cancle@3x.png);
	background-position:center;
	background-size: 0.12rem;
	background-repeat:no-repeat;
} 
input[type=search]::-webkit-search-cancel-button:after{
   
}


#headerTop {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #F3F4F5;
}

.menusBox {
	width: 100%;
	margin-top: 0.12rem;
	background-color: #fff;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	box-sizing: border-box;
	padding: 0.22rem 0.2rem 0;
}

.menu {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
}

.menu img {
	width: 0.28rem;
	height: 0.28rem;
	display: block;
}

.menu span:nth-child(2) {
	white-space: nowrap;
	font-size: 0.14rem;
	color: #555;
	line-height: 1;
	padding-top: 0.14rem;
	padding-bottom: 0.19rem;
}

.menu span:nth-child(3) {
	width: 100%;
	height: 0.03rem;
	color: #FC9153;
	background-color: #FC9153;
}

.emptyRecord {
	width: 100%;
	padding-top: 1.13rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-direction: column;
}

.emptyRecord img {
	width: 1.8rem;
	height: 1.8rem;
	display: block;
	-webkit-flex-shrink: 0;
}

.emptyRecord span {
	font-size: 0.17rem;
	color: #ccc;
	line-height: 1;
	padding-top: 0.14rem;
	text-align: center;
	width: 100%;
}

.orderCommodities {
	width: 100%;
	background-color: #f3f4f5;
}

.commoditiesItem {
	width: 100%;
	margin-top: 0.12rem;
	background-color: #fff;
}

.sellerName {
	width: 100%;
	box-sizing: border-box;
	padding: 0.11rem 0.14rem 0;
	display: -webkit-flex;
	-webkit-align-items: center;
}

.sellerName img {
	width: 0.18rem;
	height: 0.18rem;
	padding-right: 0.14rem;
	display: block;
	-webkit-flex-shrink: 0;
}

.sellerName span {
	font-size: 0.15rem;
	color: #333;
	-webkit-flex-grow: 2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1;
}

.sellerName span:nth-child(3) {
	-webkit-flex-grow: 0;
	-webkit-flex-shrink: 0;
}

.commoditiesItemOrderNum {
	width: 100%;
	line-height: 1;
	box-sizing: border-box;
	padding: 0.08rem 0.14rem 0.11rem;
	font-size: 0.14rem;
	color: #888;
}

.commoditiesList {
	width: 100%;
}

.commodityBox {
	width: 100%;
	margin-top: 0.06rem;
}

.commodity {
	width: 100%;
	box-sizing: border-box;
	padding: 0.15rem 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	background-color: #F3F4F5;
}

.serviceButtonBox {
	width: 100%;
	box-sizing: border-box;
	padding: 0.12rem 0.14rem;
	margin-top: -0.15rem;
	text-align: right;
	background-color: #F3F4F5;
}

.serviceButtonBox span {
	width: 0.8rem;
	height: 0.28rem;
	line-height: 0.28rem;
	text-align: center;
	border: 1px solid #555;
	border-radius: 0.28rem;
	color: #555;
	font-size: 0.14rem;
	display: inline-block;
}

.serviceButtonBox .serviceButtonDis {
	border: 1px solid #ccc;
	color: #999;
}

.commoditiesList .commodityBox:nth-child(1) {
	width: 100%;
	margin-top: 0;
}

.commodityImg {
	width: 0.8rem;
	height: 0.8rem;
	padding-right: 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	overflow: hidden;
	-webkit-flex-shrink: 0;
}

.commodityImg img {
	width: 100%;
	height: auto;
}

.commodityInfo {
	-webkit-flex-grow: 2;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	min-height: 0.8rem;
	-webkit-align-items: flex-start;
}

.commodityName {
	margin-top: -0.02rem;
	font-size: 0.16rem;
	line-height: 0.2rem;
	color: #333;
}

.commodityInfo>.commodityName {
	min-height: 0.67rem;
}

.commodityProfit {
	font-size: 0.1rem;
	color: #888;
	background-color: #eee;
	border-radius: 0.02rem;
	line-height: 0.16rem;
	padding: 0 0.05rem;
	margin-top: 0.06rem;
	margin-bottom: 0.07rem;
	display: inline-block;
}

.commodityPrice {
	width: 100%;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: flex-end;
	margin-bottom: -0.02rem;
}

.commodityPriceBox span:nth-child(1) {
	font-size: 0.18rem;
	color: #333;
	line-height: 1;
}

.commodityPriceBox span:nth-child(2) {
	font-size: 0.13rem;
	color: #333;
	line-height: 1;
}

.commodityNum {
	font-size: 0.14rem;
	color: #aaa;
	line-height: 1;
}

.remarkBox {
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: flex-start;
}

.remarkBox span {
	font-size: 0.15rem;
	line-height: 0.21rem;
	padding-top: 0.15rem;
	color: #333;
}

.remarkBox textarea {
	flex-grow: 2;
	-webkit-flex-grow: 2;
	margin: 0.15rem 0 0.14rem;
	font-size: 0.15rem;
	line-height: 0.2rem;
	height: 0.6rem;
	color: #333;
	outline: none;
	resize: none;
	border: none;
}

.remarkBox textarea::-webkit-input-placeholder {
	color: #CCCCCC;
}

.commoditiesItemPrice {
	width: 100%;
	box-sizing: border-box;
	padding: 0 0.14rem;
	display: -webkit-flex;
	-webkit-align-items: center;
	height: 0.46rem;
	-webkit-justify-content: flex-end;
}

.commoditiesItemPriceBox {
	display: -webkit-flex;
	-webkit-align-items: flex-end;
}

.commoditiesItemPrice span {
	line-height: 1;
	color: #333;
	font-size: 0.14rem;
}

.commoditiesItemPrice span:nth-child(1) {
	font-size: 0.14rem;
	color: #333;
}

.commoditiesItemPrice span:nth-child(2) {
	font-size: 0.16rem;
	color: #333;
	margin-bottom: -0.01rem;
}

.commoditiesItemPrice span:nth-child(3) {
	font-size: 0.13rem;
	color: #333;
}

.colorTaob {
	color: #FC9153!important;
}

.grouponActivity-nav {
	display: flex;
	display: -webkit-flex;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	background: #fff;
	border-top: 1px solid #eee;
	padding: 0.07rem 0;
	box-sizing: border-box;
}

.grouponActivity-nav-item {
	width: 33.3333%;
}

.grouponActivity-nav-item img {
	width: 0.24rem;
	height: 0.24rem;
	display: block;
	;
	margin: 0 auto;
}

.grouponActivity-nav-item div {
	text-align: center;
	color: #999;
	font-size: 0.11rem;
}

.grouponActivity-nav-item div.grouponActivity-nav-active {
	color: #fc9153;
}