body {
	margin: 0px;
	padding: 0px;
	/*font-family: "Microsoft YaHei","微软雅黑";*/
	font-size: 16px;
	background-color: #F0F0F0;
}


.main {
	margin-bottom: .7rem;
	background-color: #FFFFFF;
}

.main li {
	overflow: hidden;
	background: #ffffff;
	line-height: 150%;
	color: #222222;
	/*margin: .1rem 0 .1rem 0;*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.main .padding-left {
	padding: .2rem .3rem .2rem .18rem;
}


.main .select {
	background-image: url(../img/ic_more-@3x.png);
	background-repeat: no-repeat;
	background-position: 99% center;
	background-size: 7%;
}

.main li.none_fofofo{
	padding: 0;
	margin: 0;
	height: 0.15rem;
	width: 100%;
	background-color: #F0F0F0;
}

.main li.border_bottom_s{
	border-bottom: 0.02rem solid #F0F0F0;
}
.main li.border_top_s{
	border-top: 0.02rem solid #F0F0F0;
}




.picture-food {
	width: 100%;
	height: 2.7rem;
}

.picture-food img {
	width: 100%;
	height: 100%;
}

.food-title {
	font-size: .24rem;
	width: 100%;
	text-align: Justify;
	text-justify: inter-ideograp;
}

.left-P {
	float: left;
	font-size: .2rem;
	color: #777;
	height: .5rem;
    line-height: .5rem;
}

.left-P img {
	vertical-align: middle;
	width: .3rem;
}

.right-N {
	width: 40%;
	float: right;
	font-size: 0.2rem;
	height: .5rem;
	position: relative;
}

.people-number {
	display: block;
	color: #4ebff9;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-overflow: ellipsis;
	display: -webkit-box;
	padding: 0 .2rem 0 .2rem;
	margin-top: 0.03rem;
	height: 0.4rem;
	line-height: 0.4rem;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	border: 0.02rem solid #4ebff9;
	border-radius: .2rem;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.shop-img {
	width: 20%;
	height: 1.184rem;
}

.shop-img img {
	border: none;
	width: 100%;
	height: 100%;
	border-radius:100% ;
}

.shop-name-type {
	width: 60%;
	height: 1.184rem;
	position: relative;
	padding-left: 0;
}

.shop-Name {
	font-size: .3rem;
	padding-left: 0.3rem;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.shop-Type {
	font-size: .24rem;
	position: absolute;
	bottom: 0;
	left: 0.3rem;
	color: #888888;
	 overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.shop-phone {
	width: 20%;
	height: 1.184rem;
	position: relative;
}

.shop-phone img {
	width: 50%;
	height: 50%;
	border: none;
	position: absolute;
	top: 25%;
    right: 25%;

}

.address {
	font-size: .25rem;
}

.left-F {
	width: 30%;
	float: left;
	vertical-align: middle;
}

.left-S {
	width: 66%;
	float: left;
}
.main li#sellerAddress{
	padding-left: 0;
	margin-left: 0.18rem;
	border-top: 0.02rem solid #F0F0F0;
}
.address img {
	width: 18%;
	vertical-align: middle;
	margin-right: 0.15rem;
}

.main li ul li {
	border-bottom: none;
	padding-top:0.1rem;
	padding-bottom: 0.1rem;
	font-size: 0.25rem;
}

.taocan {
	color: #888;
	font-size: .25rem;
}
.dish-name{
	float: left;
	text-align: left;
	width: 70%;
}
.dish-right {
	display: block;
	float: right;
	text-align: right;
	width: 30%;
}

.dish-list {
	font-size: .2rem;
	color: #22222;
	
}

.dish-price {
	padding-left: .2rem;
}

.main .SpecialtyDetailPicture {
	color: #60C7CC;
	font-size: .25rem;
}

.main .use-rule {
	list-style: decimal;
	color: #888;
	font-size: .25rem;
}

.main .use-rule #rule-info {
	/*padding-top: .3rem;*/
}

.main .use-rule ul li {
	list-style: disc;
	color: #4ebff9;
	margin-left: .3rem;
	padding-top: .1rem;
	padding-bottom: .1rem;
	overflow: visible;
}

.main .use-rule ul li ul li {
	list-style: none;
	color: #888888;
	margin-left:0;
	overflow: visible;
}

.nyuseTime {
	color: #888888;
	padding-top: .1rem;
}

.qiang-gou {
	height: .7rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFFFFF;
	border-top: 0.02rem solid #F0F0F0;
}

.buy-left {
	width: 50%;
	float: left;
	height: 100%;
	color: #222222;
	line-height: .7rem;
}

.new-prices {
	padding-left: .3rem;
	color: #EC584E;
	font-size: .4rem;
	font-weight: 700;
}

.old-prices {
	padding-left: .3rem;
	color: #888888;
	font-size: .3rem;
	text-decoration: line-through;
}

.buy-right {
	width: 25%;
	float: right;
	height: 100%;
	color: white;
	line-height: .7rem;
	text-align: center;
	font-size: .3rem;
	background-color: #EC584E;
}

.first {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
}

.donghua {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	opacity: 1;
}

#mask {
	display: none;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

#phone {
	display: block;
	color: aquamarine;
	position: fixed;
	bottom: 0;
	z-index: 10000;
	color:#007aff ;
	width: 100%;
}
#phone li{
	width: 80%;
	margin:0 .3rem .3rem .3rem;
	padding:.15rem .3rem 0.15rem .3rem;
	background-color: white;
	text-align: center;
	font-size: .3rem;
	border: 1px solid white;
	border-radius: .6rem;
	
}
#phone a{
	 text-decoration: none;
	 color:#007aff ;
} 
   