body{
	min-width: 1100px;
	box-sizing: border-box;
}
/*默认亮度*/

.brightness {
    height: 60px;
    width: 50%;
    float: left;
}

.text-1 {}

.text-1,
.text-2 {
    width: 94px;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #222222;
}
.volume .text-2{
    padding-left: 0;
}

.logo-1,.logo-2,.logo-3 {
    margin-top: 18px;
    width: 24px;
    height: 24px;
    background: url("../images/ic_light.png");
}

.slider-pattern1,
.slider-pattern2 {
    width: 130px;
    height: 12px;
    margin-top: 24px;
    /*margin-left: 30px;*/
    position: relative;
    background-color: #F2F2F2;
}

.slider-pattern1>div {
    height: 100%;
    width: 80%;
    background-color: #ccc;
}

.slider-pattern2>div {
    height: 100%;
    width: 90%;
    background-color: #ccc;
}

.slider-run1,
.slider-run2 {
    /*width: 400px;*/
    height: 12px;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #36b044;
}

.percent-1,
.percent-2 {
    margin-left: 20px;
    height: 60px;
}

.percent-1>div,
.percent-2>div {
    width: 21px;
    height: 60px;
    line-height: 60px;
    border: none;
    font-size: 14px;
    color: #ff8c40;
    text-align: left;
}


/*音量*/

.volume {
    width: 50%;
    float: left;
    height: 60px;
}

.logo-2 {
    background: url("../images/ic_violin.png");
}
.logo-3 {
    background: url("../images/ic_voice.png");
}



body {
    padding: 0 24px 60px;
}

.title strong {
    color: red;
}

.header {
    position: relative;
    /*margin-left: 24px;*/
    height: 54px;
    border-bottom: 1px solid #eeeeee;
}
.goback {
    position: absolute;
    left: 0;
    top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    /*width: 86px;*/
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fc883b;
    text-align: left;
    background: url(../../common/images/ic_back.png) left center no-repeat;
    cursor: pointer;
}
.goback-a {
    display: block;
    width: 86px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fc883b;
}
.header-edit {
    position: absolute;
    left: 76px;
    top: 17px;
    padding-left: 20px;
    /*width: 56px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    font-size: 16px;
    color: #222222;
    text-align: left;
    border-left: 1px solid #CCCCCC;
}

.title {
    padding-top: 40px;
    padding-bottom: 10px;
}
.cl1-2 {
    /*display: inline-block;*/
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    width: 10px;
    text-align: center;
    color: #6a6a6a;
}

#rule_text {
    width: 300px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #CECDCD;
    padding-left: 5px;
}

.content2_box {
    width: 1104px;
    /*height: 250px;*/
    border: 1px solid #CECDCD;
    box-sizing: border-box;
}
.rule-box,.save{
	  /*禁止选择文本*/
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.rule-box {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CECDCD;
}
.rule-delete {
    position: absolute;
    right: 16px;
    top: 11px;
    width: 20px;
    height: 20px;
    background: url("../../homepage/images/btn_ic_cancle.png") no-repeat;
    background-size: cover;
    cursor: pointer;

}
.rule-delete:nth-child(1) {
    display: none;
}
.brightness_box {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #CECDCD;
    box-sizing: border-box;
}

.op_time_box,
.day_box,
.set_brightness_box {
    width: 100%;
    height: 63px;
    line-height: 63px;
    box-sizing: border-box;
    padding-left: 20px;
}

.op_time_box div {
    height: 100%;
    float: left;
}

.op_time_box .time_box {
    padding-left: 20px;
    padding-right: 20px;
}

.op_time_box .time_bt {
    width: 60px;
    height: 36px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 13.5px;
}


/*.day_box{
				width: 100%;height: 63px;padding-left: 20px;box-sizing: border-box;line-height: 63px;
			}*/

#choose_yes {
    margin-top: 25px;
    margin-right: 14px;
    float: left;
    vertical-align: middle;
    width: 15px;
    height: 15px;

}

.day_box div {
    height: 100%;
    float: left;
}

.day_box .day_box1 {
    padding-right: 20px;
}

.day_box .day_box1,
.day_box .day_box2 {
    height: 36px;
    padding-left: 20px;
}

.ssa,
.music,
.audiomusic{
    width: 130px;
    height: 12px;
}

#liangdu,#yinliang,#audioyinliang,.num-deng,.num-yin {
    display: block;
    margin-top: 1px;
    margin-left: 1px;
    width: 32px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border: none;
    text-align: right;
    color: #ff8c40;

}
.num-deng,.num-yin {
    display: block;
    width: 18px;
    line-height: 30px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    color: #ff8c40;

}
.box1 {
    margin-top: 16.5px;
    width: 58px;
    height: 32px;
    border: 1px solid #ff8c40;
    border-radius: 3px;
}

.num_box {
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 24px;
}

#music_add,
#ssa_add,
#audiomusic_add{
    position: absolute;
    top: 5px;
    width: 1px;
    border: 1px solid #34c745;
    height: 10px;
    z-index: 9;
    background-color: #34C745;
}

.logo-2,.logo-1,.logo-3 {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 15px;
}
.volume .logo-2{
    margin-left: 0;
}
.brightness .logo-1 {
    margin-left: -10px;
}

.text_fl {
    height: 100%;
    float: left;
}

.width_130 {
    width: 130px;
}

.swip_box {
    width: 130px;
    height: 12px;
    margin-top: 20.5px;
    position: relative;
}

.content3 .title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.add-area {
    width: 80px;
    height: 36px;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #FC883B;
    background-color: #fff;
    color: #FC883B;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    margin-left: 20px;
}
.add-area {
    cursor: pointer;
}
/*调整easyUI时间微调高度*/
.time_box .textbox {
    width: 70px !important;
    height: 26px;
}
.time_box .textbox-text {
    width: 70px !important;
}
.day_box1 .textbox-text,.day_box2 .textbox-text,.time_box .textbox-text {
    color: #ff8c40;
}
/*适用区域*/
.area_box {
    padding: 0;
    padding-left: 24px;
    padding-bottom: 24px;
    width: 732px;
    min-height: 250px;
    border: 1px solid #CECDCD;
    box-sizing: border-box;
}
.content3 .path-wrap {
    /*height: auto;*/
}
.path {
    margin-top: 24px;
    height: 16px;
    font-size: 14px;
    color: #000006;
}
.path-delete {
    position: relative;
    top: 2px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: url("../../common/images/btn_ic_cancle.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}
.fold {
    /*display: none;*/
    margin-left: 20px;
    color: #ff8c40;
    border-bottom: 1px solid #ff8c40 ;
    cursor: pointer;
}
.unfold {
    margin-left: 20px;
    color: #ff8c40;
    border-bottom: 1px solid #ff8c40 ;
    cursor: pointer;
}
.community {
    padding: 0;
}
.community-name {
    margin-top:16px;
    margin-right: 16px;
    min-width: 100px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #6a6a6a;
}
.xiaoqu-name {
    margin-top:4px;
    margin-left: 26px;
    margin-right: 10px;
    min-width: 100px;
    line-height: 16px;
    font-size: 14px;
    color: #fc883b;
}
.add-rule {
    width: 90px;
    height: 48px;
    line-height: 48px;
    color: #fc883b;
    text-align: center;
    cursor: pointer;
}
/*保存按钮*/
.save_box {
    margin-top: 70px;
    width: 732px;
    height: 60px;
}

.save {
    /*margin:0 auto;*/
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #FF883B;
    border: 1px solid #FF883B;
    box-sizing: border-box;
}
/* 适用区域-添加   弹窗 */
#win {
    display: none;
}
.win-wrap {
    position: relative;
    width: 800px;
    height: 499px;
    overflow-x: hidden;
}
/*弹窗--树*/
.menuL{
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 499px;
    border-right: 1px solid #e1e1e1;
    overflow: auto;
}
.search-1{
    margin-left:16px;
    margin-top:20px;
    width: 150px;
    height: 26px;
}
.search-1 .searchbox-button{
    right: 126px;
    /*重置easyUI搜索框放大镜位置*/
}
.tree-wrap{
    margin-left:16px;
    margin-top:14px;
}
.win-content{
    position: relative;
    margin-left: 225px;
    height: 470px;

}
.path-wrap {
    height: 420px;
    overflow: auto;
}
.tree-title {
    /*更改树形字体大小*/
    font-size: 14px !important;
}

/*弹窗保存按钮*/
.comfirm-wrap {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 46px;
}
.comfirm-btn {
    margin: 3px auto 3px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #FC883B;
    border: 1px solid #FC883B;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.panel.window {
    /*left: 352px !important;*/
    margin-left: -100px;
}
